<script type="text/javascript">
/*
use this template to refine the callbacks used on the widget
Uncomment the following lines:

var OlapicCallback = OlapicCallback || {};
OlapicCallback.olapicSliderAfterRender = function(w){
    // place your code here
};
OlapicCallback.olapicSliderBeforeInitCarousel = function(w){
    // place your code here
};
OlapicCallback.olapicSliderCarouselBeforePagination = function(w){
    // place your code here
};
*/
</{{!}}script>