{{!-- 
you can debug any object with writing {{debug}} on this template;
use {{debug}} or {{debug someValue}}
the result will be on browser's console
--}}
<a href="#" class="olapic-nav-button olapic-nav-next slider-icon-right-open-big"></a>