<script type="text/javascript">
/*
use this template to refine the callbacks used on the viewer
Uncomment the following lines:

var OlapicCallback = OlapicCallback || {};
OlapicCallback.olapicViewer2AfterRender = function(w){
	// place your code here
};
OlapicCallback.olapicViewer2AfterShow = function(w){
	// place your code here
};
OlapicCallback.olapicViewer2AfterClose = function(w){
	// place your code here
};
*/
</{{!}}script>